* {
    text-transform: uppercase;
}

.navbar {
    background-color: #000;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

h1,
span {
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 1ch;
    color: #fff;

    &.yellow {
        color:#ffc500;
    }

    &.subtitle {
        font-size: 0.9rem;
        font-weight: 400;
    }
}

div.me-auto {
    gap: 3rem;
    font-size: 0.9rem;
    font-weight: 400;
    
    & a {
        color: #fff;
    }

    a:hover {
        color:#ffc500;
        transition: 0.5s;
    }
}